/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body{
  font-size: xx-large;
}
p{
  text-align: center;
  font-size: x-large;

}
.items p{
  color: white;
  margin: 0.5rem ;
  font-size: smaller;
}
.foto-inicio img{
  width: 50%;  
  margin: auto;
  display:flex;
  flex: content;

}

.contenedor-item{

  margin: 3rem;
  padding: 1rem;
}
.contenedor-cards{
  margin: 3rem 10rem;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.card-nombre{
  font-size: 1rem;
  height: 5rem;
}
.card-cargo{
  font-size: 1rem;
  height: 3rem;
}
.card-body{
  height: 18rem;
}
.boton-card{
  margin: 5rem 3rem;
  display: flex;
  align-content: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  
}
.boton{ 
  color: blueviolet;
  width: 2rem;
  height: 2rem;
  border-radius:50%;
  margin: 0.5rem;
}
.botons-add{
  margin: auto ;
  padding: 2rem;
}
.boton-adicionar{
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(11, 108, 254);
  color: white;
}

.formulario{
  display: flex;
  display: block;
  justify-content: center;
 
  margin: 10rem; 
}
.formulario label{
  margin: 1rem 4rem;
  width: 20rem;
}
.formulario input{
  margin: 1rem 3rem;
}

.enviar-solicitud{
  height: 3rem;
  width: 15rem;
  margin: 3rem;




}
.logo{
  width: 20%;
}
.foto-inicio{
  margin-top: 3rem ;
}
.contenedor-item-compra{
  height: 20rem;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}
.boton-card-compra{
  margin: 2rem;
  display: flex;
  justify-items:flex-start;
}
.boton-card-aceptar-compra{
  margin: auto;
}